* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  padding: 0;
}

.main-container::-webkit-scrollbar {
  width: 4px;
}

.main-container::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  opacity: 0;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: rgb(31, 148, 148);
  border-radius: 20px;
}